<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/997546f3-0a16-45d0-af8d-2a194dc300b3/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/ChallengeSubmission</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengesubmission.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>27f41d9d-8a1c-46a4-8a08-36cbc6a72458</ProjectGuid>
    <PublishUrl>https://challengesubmission.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChallengeSubmission</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>